/* Fonts */
@font-face {
  font-display: block;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/cormorant-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: block;
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/cormorant-v21-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: block;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/cormorant-v21-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: block;
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/cormorant-v21-latin-700italic.woff2") format("woff2");
}

/* General settings */
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

h1 {
  display: block;
  font-size: xx-large;
}

h2 {
  display: block;
  font-size: 200%;
}

a {
  cursor: pointer;
}

a:hover,
.underline {
  text-decoration: underline;
}

:root {
  --flexbox-gap: 20px;
  --border-radius: 4px;
}

body {
  background-color: #dcd9d0;
  font-family: "Cormorant", serif;
}

.spamspango,
.italic {
  font-style: italic;
}

/* Grid container */
.container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 60px;
  display: grid;
  grid-template-areas:
    "header"
    "mid-section"
    "gallery";
}

#frontpage {
  grid-template-areas:
    "header"
    "top-image"
    "mid-section"
    "gallery";
}

/* Header */
#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

#navigation {
  display: flex;
  align-items: center;
  gap: var(--flexbox-gap);
  font-size: x-large;
}

/* Mountain composite */
#mountain-composite {
  grid-area: top-image;
  position: relative;
  text-align: center;
}

#mountain-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center 25%;
  border-radius: var(--border-radius);
}

#mountain-overlay {
  position: absolute;
  color: white;
  font-size: 300%;
  font-style: italic;
  font-weight: bold;
  width: 100%;
  top: 15%;
}

/* Mid section */
#mid-section {
  grid-area: mid-section;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--flexbox-gap);
}

#left-image {
  max-height: 600px;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.prose {
  width: 40%;
  margin-left: 40px;
  margin-right: 40px;
  font-size: x-large;
}

#right-image {
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-position: center 10%;
  border-radius: var(--border-radius);
}

#right-placeholder {
  width: 400px;
}

#footer-image {
  grid-area: gallery;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center 25%;
  border-radius: var(--border-radius);
}

/* Gallery */
#gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--flexbox-gap);
}

#gallery > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--border-radius);
}

@media (max-width: 1600px) {
  #gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 30px;
  }

  #navigation {
    gap: 10px;
  }

  #mountain-overlay {
    font-size: 200%;
    top: 5%;
  }

  .prose {
    width: 100%;
  }

  #left-image {
    width: 90%;
    order: 1;
  }

  #right-image {
    max-width: 300px;
    max-height: 450px;
    object-fit: cover;
    object-position: center 10%;
    border-radius: var(--border-radius);
  }

  #right-placeholder {
    max-width: 300px;
  }

  #gallery {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  #gallery img:nth-child(3) {
    order: 5;
  }
  #gallery img:nth-child(4) {
    order: 6;
  }
  #gallery img:nth-child(7) {
    order: 7;
  }
  #gallery img:nth-child(8) {
    order: 8;
  }

  #footer-image {
    height: 200px;
  }
}

@media (max-width: 400px) {
  #title {
    width: 100px;
  }

  #mountain-image {
    width: 90%;
  }
}
